<ul class="metismenu" id="menu{{id}}">
  <li>
    <a class="has-arrow" href="#">
      <span class="fa fa-fw fa-github fa-lg"></span>
      metisMenu
    </a>
    <ul aria-expanded="true">
      <li>
        <a href="https://github.com/onokumus/metisMenu">
          <span class="fa fa-fw fa-code-fork"></span> Fork
        </a>
      </li>
      <li>
        <a href="https://github.com/onokumus/metisMenu">
          <span class="fa fa-fw fa-star"></span> Star
        </a>
      </li>
      <li>
        <a href="https://github.com/onokumus/metisMenu/issues">
          <span class="fa fa-fw fa-exclamation-triangle"></span> Issues
        </a>
      </li>
    </ul>
  </li>
  <li>
    <a class="has-arrow" href="#" aria-expanded="false">Menu 0</a>
    <ul aria-expanded="false">
      <li><a href="#">item 0.1</a></li>
      <li><a href="#">item 0.2</a></li>
      <li><a href="http://onokumus.com">onokumus</a></li>
      <li><a href="#">item 0.4</a></li>
    </ul>
  </li>
  <li id="removable">
    <a class="has-arrow" href="#" aria-expanded="false">Menu 1</a>
    <ul aria-expanded="false">
      <li><a href="#">item 1.1</a></li>
      <li><a href="#">item 1.2</a></li>
      <li>
        <a class="has-arrow" href="#" aria-expanded="false">Menu 1.3</a>
        <ul aria-expanded="false">
          <li><a href="#">item 1.3.1</a></li>
          <li><a href="#">item 1.3.2</a></li>
          <li><a href="#">item 1.3.3</a></li>
          <li><a href="#">item 1.3.4</a></li>
        </ul>
      </li>
      <li><a href="#">item 1.4</a></li>
      <li>
        <a class="has-arrow" href="#" aria-expanded="false">Menu 1.5</a>
        <ul aria-expanded="false">
          <li><a href="#">item 1.5.1</a></li>
          <li><a href="#">item 1.5.2</a></li>
          <li><a href="#">item 1.5.3</a></li>
          <li><a href="#">item 1.5.4</a></li>
        </ul>
      </li>
    </ul>
  </li>
  <li>
    <a class="has-arrow" href="#" aria-expanded="false">Menu 2</a>
    <ul aria-expanded="false">
      <li><a href="#">item 2.1</a></li>
      <li><a href="#">item 2.2</a></li>
      <li><a href="#">item 2.3</a></li>
      <li><a href="#">item 2.4</a></li>
    </ul>
  </li>
</ul>
