---
title: events 2
---
<link href="css/mm-vertical.css" rel="stylesheet" type="text/css"/>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <nav class="sidebar-nav">
        <ul class="metismenu" id="menu">
          <li class="active">
            <a href="#" aria-expanded="true">
              <span class="sidebar-nav-item-icon fa fa-github fa-lg"></span>
              <span class="sidebar-nav-item">metisMenu</span>
              <span class="fa arrow"></span>
            </a>
            <ul aria-expanded="true">
              <li><a href="#">item</a></li>
              <li><a href="#">item</a></li>
              <li><a href="#">item</a></li>
              <li><a href="#">item</a></li>
              <li><a href="#">item</a></li>
              <li><a href="#">item</a></li>
              <li><a href="#">item</a></li>
              <li><a href="#">item</a></li>
              <li><a href="#">item</a></li>
              <li><a href="#">item</a></li>
              <li><a href="#">item</a></li>
              <li><a href="#">item</a></li>
              <li><a href="#">item</a></li>
              <li><a href="#">item</a></li>
              <li><a href="#">item</a></li>
              <li><a href="#">item</a></li>
              <li><a href="#">item</a></li>
              <li><a href="#">item</a></li>
              <li><a href="#">item</a></li>
              <li><a href="#">item</a></li>
              <li><a href="#">item</a></li>
              <li><a href="#">item</a></li>
              <li><a href="#">item</a></li>
              <li><a href="#">item</a></li>
              <li><a href="#">item</a></li>
              <li><a href="#">item</a></li>
              <li><a href="#">item</a></li>
              <li><a href="#">item</a></li>
              <li><a href="#">item</a></li>
              <li><a href="#">item</a></li>
              <li><a href="#">item</a></li>
              <li><a href="#">item</a></li>
              <li><a href="#">item</a></li>
              <li><a href="#">item</a></li>
              <li><a href="#">item</a></li>
              <li><a href="#">item</a></li>
              <li><a href="#">item</a></li>
              <li><a href="#">item</a></li>
              <li><a href="#">item</a></li>
              <li><a href="#">item</a></li>
              <li><a href="#">item</a></li>
              <li><a href="#">item</a></li>
              <li><a href="#">item</a></li>
              <li><a href="#">item</a></li>
              <li><a href="#">item</a></li>
              <li><a href="#">item</a></li>
              <li><a href="#">item</a></li>
              <li><a href="#">item</a></li>
              <li><a href="#">item</a></li>
              <li><a href="#">item</a></li>
              <li><a href="#">item</a></li>
              <li><a href="#">item</a></li>
              <li><a href="#">item</a></li>
              <li><a href="#">item</a></li>
              <li><a href="#">item</a></li>
              <li><a href="#">item</a></li>
              <li><a href="#">item</a></li>
              <li><a href="#">item</a></li>
              <li><a href="#">item</a></li>
              <li><a href="#">item</a></li>
              <li><a href="#">item</a></li>
              <li><a href="#">item</a></li>
              <li><a href="#">item</a></li>
              <li><a href="#">item</a></li>
              <li><a href="#">item</a></li>
              <li><a href="#">item</a></li>
              <li><a href="#">item</a></li>
              <li><a href="#">item</a></li>
              <li><a href="#">item</a></li>
              <li><a href="#">item</a></li>
              <li><a href="#">item</a></li>
            </ul>
          </li>
          <li>
            <a href="#" aria-expanded="false">
                  Menu 1<span class="fa arrow"></span>
                </a>
            <ul aria-expanded="false">
              <li>
                <a href="#">Sub Menu 1</a>
                <ul class="animated bounceIn">
                  <li>
                    <a href="#">item</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="#">Sub Menu 2</a>
                <ul>
                  <li>
                    <a href="#">item</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li>
            <a href="#" aria-expanded="false">
                  Menu 2<span class="fa arrow"></span>
                </a>
            <ul aria-expanded="false">
              <li>
                <a href="#">Sub Menu 2</a>
                <ul class="animated bounceIn">
                  <li>
                    <a href="#">item</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="#">Sub Menu 2</a>
                <ul>
                  <li>
                    <a href="#">item</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li>
            <a href="#" aria-expanded="false">
                  Menu 3<span class="fa arrow"></span>
                </a>
            <ul aria-expanded="false">
              <li>
                <a href="#">Sub Menu 3</a>
                <ul class="animated bounceIn">
                  <li>
                    <a href="#">item</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="#">Sub Menu 2</a>
                <ul>
                  <li>
                    <a href="#">item</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li>
            <a href="#" aria-expanded="false">
                  Menu 4<span class="fa arrow"></span>
                </a>
            <ul aria-expanded="false">
              <li>
                <a href="#">Sub Menu 4</a>
                <ul class="animated bounceIn">
                  <li>
                    <a href="#">item</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="#">Sub Menu 2</a>
                <ul>
                  <li>
                    <a href="#">item</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li>
            <a href="#" aria-expanded="false">
                  Menu 5<span class="fa arrow"></span>
                </a>
            <ul aria-expanded="false">
              <li>
                <a href="#">Sub Menu 5</a>
                <ul class="animated bounceIn">
                  <li>
                    <a href="#">item</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="#">Sub Menu 2</a>
                <ul>
                  <li>
                    <a href="#">item</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>

        </ul>
      </nav>
    </div>
    <div class="col-md-9">
      <h3>Events</h3>
      <div class="panel panel-default">
        <div class="panel-heading">
          Code
          <span class="pull-right">
                <span class="fa fa-code"></span>
          </span>
        </div>
        <div class="panel-body">
{{#markdown}}
  ```html
  <script>
    $(function() {
      var navbarHeight = $('.navbar').height();
      $('#menu')
        .metisMenu()
        .on('shown.metisMenu', function(event) {
          $('body,html').animate({
            scrollTop: $(event.target).parent('li').position().top - navbarHeight
          }, 600);
        });
    });
  </script>
  ```
{{/markdown}}

          
          <p>
            ...
          </p>
          <p>
            ...
          </p>
          <p>
            ...
          </p>
          <p>
            ...
          </p>
          <p>
            ...
          </p>
          <p>
            ...
          </p>
          <p>
            ...
          </p>
          <p>
            ...
          </p>
          <p>
            ...
          </p>
          <p>
            ...
          </p>
          <p>
            ...
          </p>
          <p>
            ...
          </p>
          <p>
            ...
          </p>
          <p>
            ...
          </p>
          <p>
            ...
          </p>
          <p>
            ...
          </p>
          <p>
            ...
          </p>
          <p>
            ...
          </p>
          <p>
            ...
          </p>
          <p>
            ...
          </p>
          <p>
            ...
          </p>
          <p>
            ...
          </p>
          <p>
            ...
          </p>
          <p>
            ...
          </p>
          <p>
            ...
          </p>
          <p>
            ...
          </p>
          <p>
            ...
          </p>
          <p>
            ...
          </p>
          <p>
            ...
          </p>
          <p>
            ...
          </p>
          <p>
            ...
          </p>
          <p>
            ...
          </p>
          <p>
            ...
          </p>
          <p>
            ...
          </p>
          <p>
            ...
          </p>
          <p>
            ...
          </p>
          <p>
            ...
          </p>
          <p>
            ...
          </p>
          <p>
            ...
          </p>
          <p>
            ...
          </p>
          <p>
            ...
          </p>
          <p>
            ...
          </p>
          <p>
            ...
          </p>
          <p>
            ...
          </p>
          <p>
            ...
          </p>
          <p>
            ...
          </p>
          <p>
            ...
          </p>
          <p>
            ...
          </p>
          <p>
            ...
          </p>
          <p>
            ...
          </p>
          <p>
            ...
          </p>
          <p>
            ...
          </p>
          <p>
            ...
          </p>
          <p>
            ...
          </p>
          <p>
            ...
          </p>
          <p>
            ...
          </p>
          <p>
            ...
          </p>
          <p>
            ...
          </p>
          <p>
            ...
          </p>
          <p>
            ...
          </p>
          <p>
            ...
          </p>
          <p>
            ...
          </p>
          <p>
            ...
          </p>
          <p>
            ...
          </p>
          <p>
            ...
          </p>
          <p>
            ...
          </p>
          <p>
            ...
          </p>
          <p>
            ...
          </p>
          <p>
            ...
          </p>
          <p>
            ...
          </p>
          <p>
            ...
          </p>
          <p>
            ...
          </p>
          <p>
            ...
          </p>
          <p>
            ...
          </p>
          <p>
            ...
          </p>
          <p>
            ...
          </p>
          <p>
            ...
          </p>
          <p>
            ...
          </p>
          <p>
            ...
          </p>
          <p>
            ...
          </p>
          <p>
            ...
          </p>
          <p>
            ...
          </p>
          <p>
            ...
          </p>
          <p>
            ...
          </p>
          <p>
            ...
          </p>
          <p>
            ...
          </p>
          <p>
            ...
          </p>
          <p>
            ...
          </p>
          <p>
            ...
          </p>
          <p>
            ...
          </p>
          <p>
            ...
          </p>
          <p>
            ...
          </p>
          <p>
            ...
          </p>
        </div>
      </div>

    </div>
  </div>
</div>

<script>
  $(function() {
    var navbarHeight = $('.navbar').height();
    $('#menu')
      .metisMenu()
      .on('shown.metisMenu', function(event) {
        $('body,html').animate({
          scrollTop: $(event.target).parent('li').position().top - navbarHeight
        }, 600);
      });
  });
</script>
