---
title: horizontal menu
---
<link href="css/mm-horizontal.css" rel="stylesheet" type="text/css"/>
<div class="container">
  <header>
    <h3>Clickable & Responsive <small>default</small></h3>
    <nav class="topbar-nav">
      {{> menu id="1"}}
    </nav>
    <h3>Hoverable for Desktop & Responsive</h3>
    <nav class="topbar-nav is-hoverable">
      {{> menu id="2"}}
    </nav>
  </header>
  <p>
    <br>
    <a class="btn btn-info btn-lg" href="css/mm-horizontal.css" target="_top">Download CSS File</a>
  </p>
</div>

<script>
  $(function () {

      $('#menu1').metisMenu();

      $('#menu2').metisMenu();

  });
</script>
