---
title: hoverable
---
<link href="css/mm-vertical-hover.css" rel="stylesheet" type="text/css" />
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <nav class="sidebar-nav">
        {{> menu id="1"}}
      </nav>
    </div>
    <div class="col-md-9">
      <h3>Please resize your browser window</h3>
      <a class="btn btn-info btn-lg" href="css/mm-vertical-hover.css" target="_top">Download CSS File</a>
    </div>
  </div>
</div>

<script>
  $(function() {

    $('#menu1').metisMenu();

  });
</script>
