---
layout: default
---
  <div class="page-header text-center">
    <h1>metisMenu <small>A jQuery menu plugin</small></h1>
    <p>
      <!-- Place this tag where you want the button to render. -->
      <a class="github-button" href="https://github.com/onokumus/metismenu" data-icon="octicon-star" data-style="mega" data-count-href="/onokumus/metismenu/stargazers" data-count-api="/repos/onokumus/metismenu#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star onokumus/metismenu on GitHub">Star</a>
      <!-- Place this tag where you want the button to render. -->
      <a class="github-button" href="https://github.com/onokumus/metismenu/fork" data-icon="octicon-repo-forked" data-style="mega" data-count-href="/onokumus/metismenu/network" data-count-api="/repos/onokumus/metismenu#forks_count" data-count-aria-label="# forks on GitHub" aria-label="Fork onokumus/metismenu on GitHub">Fork</a>
      <!-- Place this tag where you want the button to render. -->
      <a class="github-button" href="https://github.com/onokumus/metismenu/archive/master.zip" data-icon="octicon-cloud-download" data-style="mega" aria-label="Download onokumus/metismenu on GitHub">Download</a>
    </p>
  </div>

{% body %}
