---
layout: default
---
<div class="page-header text-center">
  <h1>metisMenu <small>A jQuery menu plugin</small></h1>
  <p>
    <!-- Place this tag where you want the button to render. -->
    <a class="github-button" href="https://github.com/onokumus/metismenu" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star onokumus/metismenu on GitHub">Star</a>
    <!-- Place this tag where you want the button to render. -->
    <a class="github-button" href="https://github.com/onokumus/metismenu/fork" data-icon="octicon-repo-forked" data-size="large" data-show-count="true" aria-label="Fork onokumus/metismenu on GitHub">Fork</a>
    <!-- Place this tag where you want the button to render. -->
    <a class="github-button" href="https://github.com/onokumus/metismenu/archive/master.zip" data-icon="octicon-cloud-download" data-size="large" aria-label="Download onokumus/metismenu on GitHub">Download</a>
  </p>
  <p>
{{#markdown}}
[![NPM version](https://img.shields.io/npm/v/metismenu.svg?style=flat)](https://www.npmjs.com/package/metismenu) [![NPM monthly downloads](https://img.shields.io/npm/dm/metismenu.svg?style=flat)](https://npmjs.org/package/metismenu)  [![NPM total downloads](https://img.shields.io/npm/dt/metismenu.svg?style=flat)](https://npmjs.org/package/metismenu) [![Linux Build Status](https://img.shields.io/travis/onokumus/metismenu.svg?style=flat&label=Travis)](https://travis-ci.org/onokumus/metismenu) [![](https://data.jsdelivr.com/v1/package/npm/metismenu/badge)](https://www.jsdelivr.com/package/npm/metismenu) [![Packagist](https://img.shields.io/packagist/v/onokumus/metismenu.svg)](https://packagist.org/packages/onokumus/metismenu)
{{/markdown}}
  </p>
  <p>
    <a href="https://www.patreon.com/bePatron?c=1303832" target="_blank" class="btn btn-lg btn-primary" style="border-radius:3px;">become a patron</a>
  </p>
</div>

{% body %}
